---
import "$src/styles/global.css";
import "bootstrap-icons/font/bootstrap-icons.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ELPAs list</title>
    <script is:inline defer src="https://assets.onedollarstats.com/stonks.js"
    ></script>
  </head>
  <body class="color-bg">
    <slot />
  </body>
</html>
