---
import Layout from "$l/Layout.astro";
import Out from "$c/Out.astro";
---

<Layout>
  <main class="section mt-4 md:mt-16 [&_p]:my-2">
    <h1 class="text-3xl">About</h1>
    <p>
      This is a centuralized listing of multiple Emacs Lisp package archives.
      The goal is to be able to look up Emacs packages in the browser even when
      those packages aren't all on MELPA.
    </p>
    <p>
      This is <em>not</em> an ELPA in and of itself.
    </p>
    <h2 class="text-2xl">Usage</h2>
    <p>Search through package name or summary by typing in the filter bar.</p>
    <p>
      Use the chips to select which archives to show. By default MELPA Stable is
      deselected. This selection is persisted in the browser.
    </p>
    <h2 class="text-2xl">Notes</h2>
    <p>
      The description of the keywords are taken directly from the definition of
      finder-known-keywords.
    </p>
    <p>
      MELPA and MELPA Stable data are read directly from their archive.json,
      recipes.json, and download_counts.json files, as they contain more
      information than the ELPA archive-contents mechanism.
    </p>
    <p>
      CELPA data is also read directly from its archive.json and recipes.json
      files for the same reason.
    </p>
    <p>
      Data from other archives are read from their <Out
        class="link"
        href="https://www.gnu.org/software/emacs/manual/html_node/elisp/Archive-Web-Server.html"
        >archive-contents endpoints</Out
      >, the same endpoints used within Emacs to list and install packages. Long
      descriptions are not currently indexed or served.
    </p>
    <p>
      I wasn't aware of the extent of <Out
        class="link"
        href="https://github.com/emacsmirror/epkgs/"
        >the emacsmirror collection</Out
      > when I first started to make this interface. Compared to what has already
      been collected there, this is not as comprehensive.
    </p>
    <a class="link" href="/">Back to listing</a>
  </main>
</Layout>
