---
import Layout from "$l/Layout.astro";
import Out from "$c/Out.astro";
import PaginatedTable from "$c/PaginatedTable.tsx";
import { collectedDate, packages } from "$data/data.ts";
---

<Layout>
  <section class="section mt-4 md:mt-16">
    <p class="text-3xl">ELPAs list</p>
    <p>A package listing for multiple Emacs Lisp package archives.</p>
    <p>Package list data last retrieved: {collectedDate.toISOString()}</p>
    <p>
      By <Out class="link" href="https://kisaragi-hiu.com">Kisaragi Hiu</Out> - <Out
        class="link"
        href="https://github.com/kisaragi-hiu/elpas">source code</Out
      > - <a class="link" href="/about">about</a>
    </p>
  </section>
  <section class="section my-4">
    <p>Todos:</p>
    <p>- Update periodically</p>
    <p>- Theming: dark mode</p>
    <p>- Information links</p>
  </section>
  <main class="section mt-4 pb-8">
    <PaginatedTable data={packages} client:only="react" />
  </main>
</Layout>
