---
import Layout from "$l/Layout.astro";
import PaginatedTable from "$c/PaginatedTable.tsx";

import { combined } from "$data/schema.ts";
import combinedRaw from "$data/combined.json";
const { collectedDate, packages } = combined.parse(combinedRaw);
---

<Layout>
  <section class="mx-auto mt-4 w-[95%] max-w-7xl md:mt-16">
    <p class="text-3xl">ELPAs list</p>
    <p>A package listing for multiple Emacs Lisp package archives.</p>
    <p>Package list data last retrieved: {collectedDate.toISOString()}</p>
    <p>
      By Kisaragi Hiu - <a
        class="link"
        target="_blank"
        href="https://github.com/kisaragi-hiu/elpas">source code</a
      >
    </p>
  </section>
  <section class="mx-auto my-4 w-[95%] max-w-7xl">
    <p>Todos:</p>
    <p>- Update periodically</p>
    <p>- Theming: make the checkboxes look better; dark mode</p>
    <p>- Make sure mobile works</p>
    <p>- Link to original archive pages (if any)</p>
    <p>- Information links</p>
    <p>- Usage page</p>
    <p>- Individual package pages</p>
  </section>
  <main class="mx-auto mt-4 w-[95%] max-w-7xl">
    <PaginatedTable data={packages} pageSize={100} client:only="react" />
  </main>
</Layout>
