---
import Layout from "$l/Layout.astro";
import PaginatedTable from "$c/PaginatedTable.tsx";

import { combined } from "$data/schema.ts";
import combinedRaw from "$data/combined.json";
const { collectedDate, packages } = combined.parse(combinedRaw);
---

<Layout>
  <section class="mx-auto mt-16 w-[95%] max-w-7xl">
    <p>ELPAs list</p>
    <p>A listing of multiple ELPAs.</p>
  </section>
  <main class="mx-auto mt-4 w-[95%] max-w-7xl">
    <PaginatedTable data={packages} pageSize={100} client:only="react" />
  </main>
</Layout>
